<nav>
    <div class="left">
        <a href="Router.php?page=index"> <i class="fas fa-home"></i> Homepage </a>
        <a href="#">I</a>
        <a href="#">don't</a>
        <a href="#">know</a>
        <a href="#">what</a>
        <a href="#">these</a>
        <a href="Router.php?page=todo">do</a>
        <a href="Router.php?page=Cars">  <i class="fas fa-car"></i> Cars </a>
    </div>
    <div class="right">
        <a href="Router.php?page=help"><i class="far fa-question-circle"></i></a>
    </div>
</nav>